
.DS_Store

articles/04766772.pdf
articles/06103844.pdf
articles/11 ijsrm.pdf
articles/Estimating Natural Illumination from a Single Outdoor Image.pdf
articles/Illuminant-Based Transformed Spaces for Image Forensics.pdf
articles/illumination_color_consistency.pdf
articles/Paper_Illuminants_Victor_Tiago.pdf
articles/review_illuminant_methods.pdf
articles/Scene_Illumination_as_an_Indicator_of_Image_Manipu.pdf
modules/inizio_tesi_270_inm.pdf
modules/modulo_inizio_tesi_istruzioni_1.pdf
review/slides.out
review/slides.nav
review/slides.dvi
review/slides.aux
*.log
*.snm
*.toc
*.gz
*.vrb
articles/06522874.pdf
articles/GeversTIP07.pdf
articles/greyworld.pdf
articles/source/IBTSFIF.pdf
articles/RTTan_JOSA04.pdf
docs/model_unifi.potx
datasets/COLUMBIA/*
datasets/DSO-1/*
datasets/IIC/*
datasets/GGE/*
datasets/NC2016/*
datasets/segmented/*
source/.project
source/.pydevproject
.project
.pydevproject
articles/source/*
source/__pycache__/*
source/maps/*

datasets/NC2016/indexes/NC2016-manipulation-index.csv

articles/GijsenijCVPR2007.pdf

source/illuminants/build/CMakeCache.txt

source/illuminants/build/lgrayworld_estimates-normal.png

source/illuminants/build/lgrayworld_estimates.png

source/illuminants/build/CMakeCache.txt

source/illuminants/build/liebv_estimates-normal.png

source/illuminants/build/CMakeCache.txt

source/illuminants/build/liebv_estimates.png

source/illuminants/build/segmented_tangerines-normal.png

source/illuminants/build/segmented_tangerines.png

modules/modulo_inizio_tesi_complete.pdf

source/felzenszwalb/*.cch

source/illuminants_riess/*

source/illuminants/build/*

source/illuminants/build/CMakeFiles/3.5.0/CMakeCCompiler.cmake

source/illuminants/build/Makefile

datasets/COLUMBIA/4cam_auth/canong3_02_sub_01.tif

datasets/PIVA/*
articles/victor/*

articles/07351341.pdf

datasets/DSI-1/*

datasets/TEST/splicing-69.png

.idea/*

source/output_mask.png

docs/thesis/tesi.aux

docs/thesis/tesi.idx

docs/thesis/tesi.out

docs/thesis/slides/slides.nav

docs/thesis/slides/slides.aux
